# PocketBase API URL
VITE_POCKETBASE_URL=https://db.bujjukomovies.com

# Google OAuth Web Client ID for Google Sign-In
VITE_GOOGLE_CLIENT_ID=214492626210-fo3le4dh3aj939ut94hi6h9r79j1mjma.apps.googleusercontent.com
