# PocketBase API URL
VITE_POCKETBASE_URL=https://db.bujjukomovies.com

# Google OAuth Web Client ID for Google Sign-In
VITE_GOOGLE_CLIENT_ID=137958708754-g8hl5d0odndg1fmve9oajok83m1m0gli.apps.googleusercontent.com
